:root {
  --swiper-theme-color: #fff;
}

.swiper {
  padding-top: 1rem;
  margin-bottom: 4rem;
  height: 20rem;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
}

.swiper-slide a {
  width: 100%;
  height: 100%;
}

.swiper-slide > a > img {
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper-slide p {
  font-size: xx-large;
  margin-left: 0.5rem;
  margin-right: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  position: absolute;
  font-weight: bold;
  background-color: rgba(169, 169, 169, 0.301);
  border-radius: 1rem;
  color: white;
  left: 5px;
  bottom: 10px;
}
